<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="amount price-container">
        <span class="price-wrapper" data-bind="html: cart().subtotal"></span>
</div>

<!-- ko if: cart().display_discount_totals -->
<span class="label">
        <!-- ko i18n: 'Discount' --><span></span><!-- /ko -->
</span>
<div class="amount price-containe cart_discountr">

        <span class="price-wrapper"
              data-bind="html: cart().cart_discount">
        </span>

</div>

<span class="label">
        <!-- ko i18n: 'Order Total' --><span></span><!-- /ko -->
</span>
<div class="amount price-container">
        <span class="price-wrapper"
              data-bind="html: cart().subtotal_with_discount">
        </span>

</div>
<!-- /ko -->